<br><br>
<h1>Lista de Matriculas
  <button type="button" class="btn btn-success"><i class="fas fa-add"></i> Criar Matricula</button> 
</h1>
<br><br>

<div class="table-responsive">
<table class="table table-striped border border-top-0 align-middle text-center">
  <thead class="table-dark"> 
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Curso</th>
      <th scope="col">Aluno</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>/////</td>
        <td>Engenharia de Software</td>
        <td>Brendon</td>
        <td>
          <button type="button" class="btn btn-outline-danger"><i class="fas fa-remove"></i></button>
        </td>
    </tr>
  </tbody>
</table>
</div>

